<!-- Main Section -->
<main class="row">
    <div class="col-xs-12">
        <div class="questions single-item blue">
            <!-- FIRST SLIDE -->
            <div class="slide slick-carousel-item blue white-text" id="welcome-slide">
                <div class="row center">
                    <h1 class="title header center bold">Need Finder</h1>
                    <h3 class="light">Take Time For What Matters</h3>
                </div>
                <div class="row center">
                    <a id="start-button" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
            <!-- feeling super category selection -->
            <div class="slide slick-carousel-item blue" id="super-categories-slide">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#">
                    <h5 class="light white-text">Please select how you are feeling right now.</h5>
                    <div class="options" id="super-categories-options">
                        {{#each feelingSuperCategories}}
                            <input name="super-category" type="radio" id="super-category-{{id}}" value="{{id}}"/>
                            <label for="super-category-{{id}}" class="white-text">{{name}}</label>
                        {{/each}}
                    </div>
                </form>
                <div class="row center">
                    <a class="btn-large waves-effect waves-light orange back-button left-button">Back</a>
                    <a id="super-category-submit" class="btn-large waves-effect waves-light orange">Next</a>
                </div>
            </div>
            <!-- feeling category selection -->
            <div class="slide slick-carousel-item blue" id="categories-slide">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#" id="categories-form">
                    <h5 class="light white-text">Please narrow down how you are feeling right now.</h5>
                    <div class="options" id="categories-options"></div>
                </form>
                <div class="row center">
                    <a class="btn-large waves-effect waves-light orange back-button left-button">Back</a>
                    <a id="category-submit" class="btn-large waves-effect waves-light orange">Next</a>
                </div>
            </div>
            <!-- feeling selection -->
            <div class="slide slick-carousel-item blue" id="feelings-slide">
                <div class="container">
                    <h1 class="title header center bold white-text">Need Finder</h1>
                    <form class="center" action="#" id="feelings-form">
                        <h5 class="light white-text">Finally, select the feeling that best describes how you are feeling
                            right now.</h5>
                        <div class="options" id="feelings-options"></div>
                    </form>
                    <div class="row center">
                        <a class="btn-large waves-effect waves-light orange back-button left-button">Back</a>
                        <a id="feeling-submit" class="btn-large waves-effect waves-light orange">Submit</a>
                    </div>
                </div>
            </div>
            <!-- resource category selection -->
            <div class="slide slick-carousel-item blue" id="resource-category">
                <div class="container">
                    <h1 class="title header center bold white-text" id="feeling-display"></h1>
                    <form class="center" action="#">
                        <h5 class="light white-text">What do you need right now?</h5>
                        <div class="options" id="resource-categories-options">
                            {{#each resourceCategories}}
                                <input name="resource-category" type="radio" id="resource-category-{{id}}"
                                       value="{{id}}"/>
                                <label for="resource-category-{{id}}" class="white-text" id="label-{{id}}">{{name}}
                                    <span id="percentage-{{id}}">0%</span></label>
                            {{/each}}
                        </div>
                    </form>
                    <div class="row center">
                        <a class="btn-large waves-effect waves-light orange back-button left-button">Back</a>
                        <a id="resource-category-submit" class="btn-large waves-effect waves-light orange">Next</a>
                    </div>
                </div>
            </div>
            <!-- resource -->
            <div class="slide slick-carousel-item blue" id="resource">
                <div class="container resource-container">
                    <h1 id="resource-title" class="center-block"></h1>
                    <div id="resource-content" class="center-block"></div>
                    <div class="row center">
                        <a class="btn-large waves-effect waves-light orange back-button">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slick carousel ends here -->
</main>
