<!-- Main Section -->
<div class="row center">
    <div class="questions single-item blue">
        <!-- FIRST SLIDE -->
        <div class="slide slick-carousel-item blue white-text" id="welcome-slide">
            <div class="container">
                <h1 class="title header center bold">Need Finder</h1>
                <div class="row center"> 
                    <h5 class="questionheader col s12 light">Take Time For What Matters</h5>
                </div>
                <div class="row center">
                    <a id="start" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
        </div>
        <!-- feeling super category selection -->
        <div class="slide slick-carousel-item blue" id="super-categories-slide">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#">
                    <select name="super-category" id="super-category" class="browser-default">
                        {{#each feelingSuperCategories}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                        <label class="white-text" for="super-category">Feeling</label>
                    </select>
                </form>
            </div>
        </div>
        <!-- feeling category selection -->
        <div class="slide slick-carousel-item blue" id="categories-slide">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#">
                    <select name="category" id="category" class="browser-default">
                        {{#each feelingCategories}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                        <label class="white-text" for="category">Feeling</label>
                    </select>
                </form>
            </div>
        </div>
        <!-- feeling selection -->
        <div class="slide slick-carousel-item blue" id="feelings-slide">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#">
                    <select name="feeling" id="feeling" class="browser-default">
                        {{#each feelings}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                        <label class="white-text" for="feeling">Feeling</label>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Slick carousel ends here -->