<!-- Main Section -->
<div class="row center">
    <div class="questions single-item blue">
        <!-- FIRST SLIDE -->
        <div class="slide slick-carousel-item blue white-text" id="welcome-slide">
            <div class="container">
                <h1 class="title header center bold">Need Finder</h1>
                <div class="row center"> 
                    <h5 class="light">Take Time For What Matters</h5>
                </div>
                <div class="row center">
                    <a id="start-button" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
        </div>
        <!-- feeling super category selection -->
        <div class="slide slick-carousel-item blue" id="super-categories-slide">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#">
                    <h5 class="light white-text">Please select how you are feeling right now</h5>
                    {{#each feelingSuperCategories}}
                        <input name="super-category" type="radio" id="super-category-{{id}}" value="{{id}}" />
                        <label for="super-category-{{id}}" class="white-text">{{name}}</label>
                    {{/each}}
                </form>
                <div class="row center">
                    <a id="super-category-submit" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
        </div>
        <!-- feeling category selection -->
        <div class="slide slick-carousel-item blue" id="categories-slide">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#" id="categories-form">
                    <h5 class="light white-text">Please narrow down how you are feeling right now</h5>
                </form>
                <div class="row center">
                    <a id="category-submit" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
        </div>
        <!-- feeling selection -->
        <div class="slide slick-carousel-item blue" id="feelings-slide">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#" id="feelings-form">
                    <h5 class="light white-text">Finally, select the feeling that best describes how you are feeling right now</h5>
                </form>
                <div class="row center">
                    <a id="feeling-submit" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
        </div>
        <!-- resource category selection -->
        <div class="slide slick-carousel-item blue" id="resource-category">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <form class="center" action="#">
                    <h5 class="light white-text">Select the category of the resource you would like to get</h5>
                </form>
                <div class="row center">
                    <a id="resource-category-submit" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
        </div>
        <!-- resource -->
        <div class="slide slick-carousel-item blue" id="resource">
            <div class="container">
                <h1 class="title header center bold white-text">Need Finder</h1>
                <h2>{{resource.name}}</h2>
                <h3>{{resource.content}}</h3>
            </div>
        </div>
    </div>
</div>
<!-- Slick carousel ends here -->